<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./inc/head')%>
</head>
<body>
    <%-include('./inc/nav')%> 
    <hr>
    <h3 style="text-align: center;"> Sayfa bulunamadı</h3>
    <hr>
</body>
</html>